@page "/todoitem"
@inject HttpClient client
@inject IJSRuntime js

<h3>Todo Items</h3>
<small>Add Todo items.</small>
<div class="form-group">
    <a class="btn btn-success" href="todoitem/create"><i class="oi oi-plus"></i> Create New</a>
</div>
<br>

@if (todoItems == null)
{
    <text>Loading...</text>
}
else if (todoItems.Length == 0)
{
    <text>No Records Found.</text>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (TodoItem todoItem in todoItems)
            {
                <tr>
                    <td>@todoItem.Id</td>
                    <td>@todoItem.Name</td>
                    <td>@todoItem.Description</td>
                    <td>@todoItem.Status</td>
                    <td>
                        <a class="btn btn-success" href="todoitem/edit/@todoItem.Id">Edit</a>
                        <button class="btn btn-danger" @onclick="@(() => Delete(todoItem.Id))">Delete</button>
                    </td>
                </tr>
            }

        </tbody>
    </table>
}
@code {
    TodoItem[] todoItems { get; set; }
    protected override async Task OnInitializedAsync()
    {
        todoItems = await client.GetFromJsonAsync<TodoItem[]>("api/todoitems");
    }

    async Task Delete(int id)
    {
        var todoItem = todoItems.First(x => x.Id == id);
        if (await js.InvokeAsync<bool>("confirm", $"Do you want to delete {todoItem.Name}'s Record?"))
        {
            await client.DeleteAsync($"api/todoitems/{id}");
            await OnInitializedAsync();
        }
    }
}